@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3e4639;
  --secondary: #7a5c43;
  --third: #ece2d8;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--third);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.avoid-nav {
  padding-top: 110px;
}

.test {
  border: red solid 5px;
}

.text-primary {
  color: var(--primary);
}

.text-third {
  color: var(--third);
}

.bg-primary {
  background-color: var(--primary);
}

/* NAV STYLE */
.nav-custom {
  background-color: var(--primary);
}

.nav-link {
  @apply lg:mx-3 px-7 py-2 lg:py-3 lg:rounded-xl text-xl;
  color: var(--third);
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
}

.active, .nav-link:hover {
  background-color: #2f362b;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.logo {
  color: var(--third);
}

.nav-bars {
  color: var(--third);
  transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
}

.nav-bars:hover {
  color: var(--primary);
  background-color: var(--third);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* HOME STYLE */
.headshot {
  border: var(--primary) solid 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 500px; max-height: 500px;
  width: auto; height: 100%;
  display: block;
  margin-left: auto; margin-right: auto;
}

@media (max-width: 1024px) {
  .headshot {
    width: 100%;
  }
}

/* CONTACT STYLE */
.contact-section {
  min-height: 100vh;
  background-image: url('./assets/images/contact-bg.jpg');
  background-size: cover;
  background-position: 50%;
  color: var(--third);
}


/* FOOTER STYLE */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 20px 0;
  color: var(--third);
}

.footer-link:hover {
  color: blue;
  text-decoration: underline;
}

/* 404 STYLE */
.page404 {
  padding-top: 200px;
}